<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Project</title>
  </head>
  <body>
    <h1>Tags</h1>
    <% tags.forEach(tag => { %>
    <li><a href="/gallery/<%= tag %>"><%= tag %></a></li>
    <% }); %>
    <h1>Images</h1>
    <% images.forEach(image => { %>
    <img src="<%= image.thumb %>" />
    <% }) %>
  </body>
</html>
