<div id="gallery-container">
  <div class="left-text">
    <h1 class="title-h1">Tags</h1>
    <div id="tags">
      <% tags.forEach(tag => { %>
      <li class="color_tags"><%= tag %></li>
      <% }); %>
    </div>
    <h1 class="title-h1">Images</h1>
  </div>
  <div id="photos">
    <% images.forEach(image => { %>
    <img class="gallery-image" src="<%= image.thumb %>" />
    <% }) %>
  </div>
</div>
<script>
  $('.color_tags').on('click', (e) => {
    e.preventDefault();
    $.ajax({
      method: 'GET',
      url: `/gallery/${e.target.innerHTML}`,
      beforeSend: () => {
        $('.loader-wrapper').fadeIn('fast');
      },
      success: function (data) {
        $('.loader-wrapper').fadeOut('slow');
        if (!data) {
          $('#content').html('Opps! Something went wrong :/');
        }
      },
    }).done((res) => {
      $('#content').html(res);
    });
  });
</script>
<!-- <%- include("partials/footer.ejs") %> -->
