<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Project</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Hello World!</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <div>
        <label>Select your picture:</label>
        <input type="file" name="picture" accept="image/*" />
      </div>
      <div>
        <input type="submit" name="btn_upload_pic" value="Upload" />
      </div>
    </form>
    <script src="js/main.js"></script>
  </body>
</html>
